@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root{
--Very-dark-blue: hsl(233, 47%, 7%);
--Dark-desaturated-blue: hsl(244, 38%, 16%);
--Soft-violet: hsl(277, 64%, 61%);
--White: hsl(0, 0%, 100%);
--transparent-white-one: hsla(0, 0%, 100%, 0.75);
--transparent-white-two: hsla(0, 0%, 100%, 0.6);

/* fonts  */
--inter:'Inter', sans-serif;
--lexend: 'Lexend Deca', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--inter);
    background-color: var(--Very-dark-blue);
    color: var(--White);
    font-size: 15px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main{
    background-color: var(--Dark-desaturated-blue);
    margin: 0 8rem;
    display: flex;
    flex-direction: row-reverse;
    border-radius: .5rem;
    overflow: hidden;
}
.img{
    background-color: var(--Soft-violet);
}

/* content section  */
#content{
    padding: 3rem 4rem;
}

/* title  */
#card-title{
    font-size: 2rem;
    margin-bottom: 2rem;
}
#card-title span{
    color: var(--Soft-violet);
}

/* paragraph  */
#card-para{
    line-height: 1.5;
    color: var(--transparent-white-two);
}

.works{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5rem;
}


/* responsive design  */
.desktop-only, .mobile-only{
    z-index: -1;
    opacity: .5;
    height: 100%;
}

@media only screen and (min-width:601px){
    .mobile-only{
        display: none !important;
    }
}

@media only screen and (max-width:600px){
    main{
        display: grid;
        grid-template-columns: 1fr;
        margin:1.5rem;
    }
    #content{
        text-align: center;
        padding: 2rem;
    }
    #card-title{
        font-size: 1.7rem;
    }
    .works{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 2.5rem;
    }
    .info{
        margin-bottom: 2rem;
    }
    .desktop-only{
        display: none !important;
    }
    .mobile-only{
        width: 100%;
    }
}